* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: antiquewhite;
  font-family: "Poppins", sans-serif;
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}
.Navbar {
  background-color: antiquewhite;
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.Navbar > img {
  max-width: 150px;
  padding: 5px;
}

.hero {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-grid {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-grid img {
  width: 90%;
  max-width: 800px;
}

.hero h1 {
  margin-bottom: 16px;
}

.hero p {
  margin-top: 0;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5em;
}
.card {
  width: 200px;
  font-size: 12px;
}

.card--img {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}
